.porti,
.menu,
.cor_fundo{
    position: fixed;
    background-repeat: no-repeat;
}

.menu,
.menu a,
.cor_fundo{
    transition: 0.5s;
}

.porti{
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 88px;
    height: 88px;
    background-color: darkgrey;
    border: 0;
    padding: 0;
    background:transparent;
    cursor: pointer;
}

.cor_fundo{
    z-index: 1;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-color: black;
    background-size: cover;
    background-position: 80%;
}

.menu{
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    
}